*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* body
{
  width: 100vw;
} */
.wrapper
{
  width: 100%;
}
/**************************************Banner***********************************************/
.banner
{
  width: 100%;
  height: 100px;
  height: 1000px;
  background-image: linear-gradient(rgba(232, 131, 131, 0.7), rgba(241, 216, 138, 0.7)),
                    url("./image/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.bannerContainer
{
  color: white;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuBar
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.menuBar > p
{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.menu
{
  display: flex;
  width: 50%;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.menu a 
{
  color: white;
  transition: all 0.2s ease;
  position: relative;
}
.menu a:hover
{
  color: yellow;
}
.menu a::before
{
  content: '';
  border-bottom: solid 2px yellow;
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 0;
  transition: all 0.2s ease;
}
.menu a:hover::before
{
  width: 100%
} 
.titleBanner
{
  width: 80%;
  text-align: center;
  margin-top: 120px;
}
.titleBanner p:first-child
{
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  margin-bottom: 40px;
}
.titleBanner p:last-child
{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
}
.tangle 
{
  margin-top: 73px;
  width: 60px;
  background-color: white;
  height: 3px;
}
.bannerContainer > button
{
  width: 160px;
  height: 40px;
  background-color: rgba(0,0,0,0);
  text-align: center;
  text-transform: uppercase;
  border: solid 3px white;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.bannerContainer > button:hover
{
  background-color: rgba(255, 255, 255, 0.2);
}
.slider
{
  width: 100%;
  margin-top: 156px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-around;
}
.packet
{
  width: 20%;
  cursor: pointer;
  position: relative;
}
.packet::before
{
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 3px;
  background-color: white;
}
.packet::after
{
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  width: 0;
  height: 3px;
  background-color: red;
  transition: all 0.3s ease;
  z-index: 2;
}
.packet:hover::after
{
  width: 100%;
}
.packet > .number
{
  font-size: 24px;
  font-weight: 700;
}
.packet > .text
{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}
/***************************************About Us**********************************************/
.aboutUs
{
  width: 100%;
  display: flex;
  justify-content: center;
}
.aboutUsContainer
{
  width: 100%;
  max-width: 1200px;
  margin-top: 86px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title  p:first-child
{
  color: black;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}
.title  p:last-child
{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.aboutUsContainer > .tangle
{
  margin-top: 45px;
  background-color: red;
}
.aboutUsContainer > .content
{
  width: 960px;
  margin-top: 40px;
  line-height: 24px;
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.aboutUsContainer > .packetImages
{
  margin-top: 97px;
  margin-bottom: 106px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.aboutUsContainer > .packetImages > .about1
{
  width: 380px;
  height: 250px;
  background-image: url("./image/about1.png");
}
.aboutUsContainer > .packetImages > .about2
{
  width: 380px;
  height: 250px;
  background-image: url("./image/about2.png");
}
.aboutUsContainer > .packetImages > .about3
{
  width: 380px;
  height: 250px;
  background-image: url("./image/about3.png");
}
/***************************************Facts**********************************************/
.facts
{
  width: 100%;
  background-color: #95e1d3;
  display: flex;
  justify-content: center;
}
.factsContainer
{
  width: 100%;
  max-width: 1200px;
  display: flex;
  border-right: solid 1px #ffffff;
}
.factItem
{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 237px;
  height: 268px;
  border-left: solid 1px #ffffff;
}
.factItem > .number
{
  font-size: 72px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.factItem > .text
{
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
/***************************************Services**********************************************/
.services
{
  width: 100%;
  display: flex;
  justify-content: center;
}
.servicesContainer
{
  max-width: 1200px;
  margin-top: 105px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicesContainer > .tangle
{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: red;
}
.serviceItemContainer
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.serviceItem
{
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 50px 0;
}
.serviceItem > i
{
  width: 20%;
  color: #95e1d3;
  font-size: 30px;
}
.serviceItem > .text
{
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.serviceItem > .text > p:first-child
{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
  font-size: 14px;
}
.serviceItem > .text > p:last-child
{
  font-size: 15px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #999;
}
/***************************************Feauture**********************************************/
.feauture
{
  width: 100%;
  height: 852px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.feauture::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("./image/Layer 45.png");
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.feautureContainer
{
  margin-top: 100px;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feautureContainer > .tangle
{
  background-color: red;
  margin-top: 40px;
}
.feautureContainer > .tablet
{
  position: absolute;
  top: 132px;
  left: 338px;
  z-index: 2;
}
.feautureContainer > .phone
{
  position: absolute;
  right: 180px;
  bottom: -88px;
  z-index: 3;
}
/***************************************Services2**********************************************/
.services2
{
  width: 100%;
}
.services2Container
{
  margin: 0 auto;
  margin-top: 111px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services2Container > .tangle
{
  background-color: red;
  margin-top: 40px;
  margin-bottom: 45px;
}
.services2Container > p
{
  width: 960px;
  height: 130px;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #999;
}
.whatWeDoItem
{
  width: 100%;
  display: flex;
  margin-bottom: 115px;
}
.whatWeDoItem > .imageContainer
{
  width: 50%;
  height: 100%;
  margin-right: 30px;
}
.whatWeDoItem > .imageContainer > img
{
  width: 100%;
  object-fit: cover;
}
.whatWeDoItem > .actsContainer
{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.whatWeDoItem > .actsContainer > .actItem
{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.whatWeDoItem > .actsContainer > .actItem > .bannerOfItem
{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  align-items: center;
}
.actItem > .bannerOfItem > .nameOfItem
{
  align-items: center;
  display: flex;
}
.actItem > .bannerOfItem > i
{
  margin: 0 15px;
  font-size: 21px;
  color: #ccc;
}
.actItem > .bannerOfItem > .nameOfItem > i
{
  font-size: 30px;
  color: #95e1d3;
  margin: 0 15px;
}
.actItem > .bannerOfItem > .nameOfItem > p
{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.actItem > .contentOfItem
{
  width: 100%;
  height: 180px;
  border-bottom: 1px solid #e5e5e5;
}
.actItem > .contentOfItem > p
{
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  color: #999999;
  text-align: left;
}
#contentOfItem2, #contentOfItem3
{
  display: none;
}
/***************************************Quote**********************************************/
.quote
{
  width: 100%;
  background-color: #f8f8f8;
}
.quoteContainer
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0;
}
.quoteContainer > i
{
  width: 5%;
  font-size: 21px;
  color: #cccccc;
  text-align: center;
}
.contentOfQuote
{
  display: flex;
  width: 90%;
}
.contentOfQuote > i
{
  width: 150px;
  height: 150px;
  border: #95e1d3 solid 1px;
  font-size: 63px;
  color: #95e1d3;
  padding: 40px;
  margin: 0 60px;
}
.quoteText
{
  display: flex;
  flex-direction: column;
}
.quoteText > p
{
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-size: 24px;
  font-style: italic;
}
.authorOfQuote
{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.authorOfQuote > .tangle
{
  background-color: red;
  margin-top: 0px;
  margin-bottom: 0px;
}
.authorOfQuote > .authorName
{
  margin-left: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
}
/*************************************** Our team **********************************************/
.ourTeam
{
  width: 100%;
}
.ourTeamContainer
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ourTeamContainer > .tangle
{
  background-color: red;
  margin-top: 40px;
  margin-bottom: 45px;
}
.ourTeamContainer > .content
{
  width: 960px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
}
.ourTeamContainer > .memberContainer
{
  width: 100%;
  margin-top: 92px;
  display: flex;
}
.ourTeamContainer > .memberContainer > .member
{
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  position: relative;
  right: -30px;
}
.ourTeamContainer > .memberContainer > div:first-child
{
  right: 0;
}
.ourTeamContainer > .memberContainer > .member > .memberImage
{
  width: 100%;
  height: 472px;
  overflow: hidden;
}
.ourTeamContainer > .memberContainer > .member > .memberImage > img
{
  width: 100%;
  object-fit: cover;
}
.ourTeamContainer > .memberContainer > .member > .memberInfor
{
  margin-top: 30px;
  text-align: center;
}
.ourTeamContainer > .memberContainer > .member > .memberInfor > .name
{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.ourTeamContainer > .memberContainer > .member > .memberInfor > .job
{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  color: #999999;
}
/*************************************** Logos **********************************************/
.logos
{
  background-color: #f8f8f8;
  width: 100%;
}
.logosContainer
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 118px;
  padding: 65px 0;
}
.logosContainer > img
{
  object-fit: cover;
}
/*************************************** Work **********************************************/
.work
{
  width: 100%;
}
.workContainer
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.workContainer > .tangle
{
  background-color: red;
  margin-top: 40px;
  margin-bottom: 45px;
}
.workContainer > .content
{
  width: 960px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
}
.work > .imageContainer
{
  margin-top: 105px;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 390px 390px;
  grid-gap: 0px;
}
.work > .imageContainer > div
{
  overflow: hidden;
}
.work > .imageContainer > img
{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.work > .imageContainer > .imageItem1
{
  grid-row: 1/2;
  grid-column: 1/2;
}
.work > .imageContainer > .imageItem2
{
  grid-row: 1/2;
  grid-column: 2/3;
}
.work > .imageContainer > .imageItem3
{
  grid-row: 2/3;
  grid-column: 1/2;
}
.work > .imageContainer > .imageItem4
{
  grid-row: 2/3;
  grid-column: 2/3;
}
.work > .imageContainer > .imageItem5
{
  grid-row: 1/3;
  grid-column: 3/4;
}
.work > .imageContainer > .imageItem6
{
  grid-row: 1/2;
  grid-column: 4/5;
}
.work > .imageContainer > .imageItem7
{
  grid-row: 2/3;
  grid-column: 4/5;
}
/*************************************** Testimonial **********************************************/
.testimonial
{
  width: 100%;
}
.testimonialContainer
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 130px;
}
.testimonialContainer > i
{
  width: 5%;
  font-size: 21px;
  color: #cccccc;
  text-align: center;
}
.testimonialContainer > .contentOfQuote
{
  align-items: center;
}
.testimonialContainer > .contentOfQuote > .image
{
  width: 210px;
  height: 210px;
  margin-right: 30px;
}
/* .testimonialContainer > .contentOfQuote > .image > img
{
  width: 100%;
  object-fit: cover;
  object-position: center;
} */
/*************************************** What people say **********************************************/
.whatPeopleSay
{
  width: 100%;
  position: relative;
  z-index: 1;
}
.whatPeopleSay::before
{
  background-image: url("./image/Layer\ 53.png");
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.whatPeopleSayContainer
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.whatPeopleSayContainer > .tangle
{
  background-color: red;
  margin-top: 40px;
  margin-bottom: 45px;
}
.whatPeopleSayContainer > .memberContainer
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin-top: 40px;
}
.whatPeopleSayContainer > .memberContainer > .member
{
  width: 50%;
  display: flex;
}
.whatPeopleSayContainer > .memberContainer > .member > .image
{
  width: 110px;
  height: 110px;
  margin-right: 30px;
  margin-left: 40px;
}
.whatPeopleSayContainer > .memberContainer > .member > .content
{
  display: flex;
  flex-direction: column;
  text-align: start;
}
.whatPeopleSayContainer > .memberContainer > .member > .content > .tangle
{
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: red;
}
.whatPeopleSayContainer > .memberContainer > .member > .content > .name
{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 10px;
}
.whatPeopleSayContainer > .memberContainer > .member > .content > .job
{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
}
.whatPeopleSayContainer > .memberContainer > .member > .content > .text
{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  width: 389px;
  height: 129px;
}
/*************************************** Blog **********************************************/
.blog
{
  width: 100%;
}
.blogContainer
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.blogContainer > .tangle
{
  background-color: red;
  margin-top: 40px;
  margin-bottom: 45px;
}
.blogContent
{
  display: flex;
  width: 100%;
  margin-bottom: 115px;
}
.blogItem
{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  text-align: start;
  margin-right: 30px;
}
.blogItem > .imageItem
{
  position: relative;
  width: 100%;
}
.blogItem > .imageItem > .time
{
  content: "";
  background-color: #95e1d3;
  position: absolute;
  padding: 15px;
  width: 60px;
  bottom: 15px;
  left: -10px;
}
.imageItem > .time > .day
{
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.imageItem > .time > .month
{
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.blogItem > .imageItem > img
{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.blogItem > .titleOfItem
{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.blogItem > .contentOfItem
{
  font-size: 15px;
  margin-bottom: 23px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.blogItem > .icon
{
  display: flex;
  padding-top: 20px;
  border-top: solid 1px #CCCCCC;
}
.blogItem > .icon > .iconGroup
{
  display: flex;
  margin-right: 20px;
}
.blogItem > .icon > .iconGroup > p
{
  color: #CCCCCC;
  margin-left: 5px;
}
.blogItem > .icon > .iconGroup > i
{
  color: #95E1D3;
}
/*************************************** Map **********************************************/
.map
{
  width: 100%;
  height: 200px;
  position: relative;
  margin-bottom: 70px;
  z-index: 1;
  background-color: rgba(250, 248, 248, 0);
}
.map::after
{
  content: "";
  background-image: url("./image/Layer\ 59.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; 
  opacity: 0.3;
  z-index: -1;
}
.mapContainer
{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 55px 0px;
}
.mapContainer > .tangle
{
  margin-top: 20px;
  background-color: #F28484;
}
.mapContainer > i 
{
  color: #F28484;
  font-size: 30px;
}
.mapContainer > p 
{
  margin-top: 15px;
  font-size: 24px;
  color: #f38181;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
/*************************************** Footer **********************************************/
.footer
{
  width: 100%;
}
.footerContainer
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.subscribe
{
  width: 40%;
  margin-right: 50px;
}
.subscribe > p
{
  font-size: 46px;
  color: #cccccc;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.textSubscribe
{
  margin-top: 45px;
  margin-bottom: 20px;
}
.textSubscribe > p
{
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.textSubscribe > p:nth-child(2)
{
  margin-top: 35px;
}
.textSubscribe > p:nth-child(3)
{
  color: black;
}
.textSubscribe > p > span
{
  font-size: 18px;
  font-weight: 700;
}
.followUs
{
  width: 100%;
  border-top: solid 1px #E5E5E5;
  padding-top: 16px;
  margin-bottom: 40px;
}
.followUsText
{
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}
.followUs > .icon
{
  color: #95E1D3;
  font-size: 15px;
}
.followUs > .icon > i
{
  margin-left: 16px;
  cursor: pointer;
}
.input
{
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  padding-left: 10px;
  font-size: 15px;
  line-height: 24px;
  color: black;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
.input::placeholder
{
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  font-weight: 300;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}
.inputArea
{
  margin-bottom: 70px;
}
.inputArea > span > button
{
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  cursor: pointer;
  border: none;
}
.blogs
{
  width: 30%;
  margin-right: 80px;
}
.blogs > p
{
  font-size: 18px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
}
.blogsItem
{
  display: flex;
  margin-bottom: 30px;
}
.blogsImage
{
  width: 120px;
  height: 80px;
}
.blogsImage > img
{
  object-fit: cover;
  object-position: center;
}
.blogsText
{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.blogsText > p:nth-child(1)
{
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.blogsText > p:nth-child(2)
{
  margin-top: 10px;
  font-size: 13px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}
.instagram
{
  width: 30%;
}
.instagram > p:first-child
{
  font-size: 18px;
  color: #333333;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.instagram > p:last-child
{
  font-size: 13px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  margin-top: 23px;
}
.pictureContainer
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pictureContainer > div
{
  width: 88px;
  height: 88px;
  margin-right: 1px;
  margin-bottom: 1px;
}
.pictureContainer > div > img
{
  object-fit: cover;
  object-position: center;
}
/*************************************** References **********************************************/
.references
{
  width: 100%;

}
.referencesContainer
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 0px;
  border-top: #e5e5e5 1px solid;
}
.referencesContainer > p
{
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.referencesContainer > p > span
{
  color: #F49E9E;
}
